In [2]:
student = {"Kashish": 24, "Manya": 25, "Aadya": 21, "Krishna": 22, "Sameer": 28}

for key, value in student.items():
    print(key, value)
print()

for key in student.keys():
    print(key, student[key])
print()

for value in student.values():
    print(value)

print(student.keys())
print(student.values())
print(student.items())

Kashish 24
Manya 25
Aadya 21
Krishna 22
Sameer 28

Kashish 24
Manya 25
Aadya 21
Krishna 22
Sameer 28

24
25
21
22
28
dict_keys(['Kashish', 'Manya', 'Aadya', 'Krishna', 'Sameer'])
dict_values([24, 25, 21, 22, 28])
dict_items([('Kashish', 24), ('Manya', 25), ('Aadya', 21), ('Krishna', 22), ('Sameer', 28)])

Shortcut to search an element where for loop runs internally

In [3]:
target = "Manya"
if target in student:
    print("Present")
else:
    print("Absent")

Present

In [4]:
std = {
    "name": "Siddhartha",
    "age": 25,
    "course": "python",
    "marks": 78
}

print(std)

{'name': 'Siddhartha', 'age': 25, 'course': 'python', 'marks': 78}

In [5]:
info = dict(name = "sid", age = 24, course = "python", marks = 78)
print(info)

{'name': 'sid', 'age': 24, 'course': 'python', 'marks': 78}

In [6]:
info = dict(name = input("Enteer your name:"), age = 24, course = "python", marks = 78)
print(info)

{'name': 'sid', 'age': 24, 'course': 'python', 'marks': 78}

In [24]:
temp = {
    'lko': [23,24,52],
    'kn': [35, 54, 74],
    'dl': int(input())
}
print(temp)

{'lko': [23, 24, 52], 'kn': [35, 54, 74], 'dl': 78}

In [8]:
temp['lko']

[23, 24, 52]

In [9]:
temp.get('lko')

[23, 24, 52]

In [10]:
temp.keys()

dict_keys(['lko', 'kn', 'dl'])

In [11]:
temp.values()

dict_values([[23, 24, 52], [35, 54, 74], 23])

In [12]:
temp.items()

dict_items([('lko', [23, 24, 52]), ('kn', [35, 54, 74]), ('dl', 23)])

In [13]:
std['year'] = 56
print(std)

{'name': 'Siddhartha', 'age': 25, 'course': 'python', 'marks': 78, 'year': 56}

In [14]:
for v in  std.values():
    print(v)

Siddhartha
25
python
78
56

In [15]:
for k, v in std.items():
    print(f"{k} : {v}")

name : Siddhartha
age : 25
course : python
marks : 78
year : 56

In [16]:
company = {
    'emp001' : {
        'name' : 'Rahul',
        'age' : 25,
        'dept': 'it',
        'salary': 26000
    },
    'emp002' : {
        'name' : 'Rahi',
        'age' : 24,
        'dept': 'humanity',
        'salary': 260000
    },
    'emp003' : {
        'name' : 'Rhi',
        'age' : 14,
        'dept': 'finance',
        'salary': 2600
    }
}
print(company)

{'emp001': {'name': 'Rahul', 'age': 25, 'dept': 'it', 'salary': 26000}, 'emp002': {'name': 'Rahi', 'age': 24, 'dept': 'humanity', 'salary': 260000}, 'emp003': {'name': 'Rhi', 'age': 14, 'dept': 'finance', 'salary': 2600}}

In [17]:
from pprint import pprint

In [18]:
pprint(company)

{'emp001': {'age': 25, 'dept': 'it', 'name': 'Rahul', 'salary': 26000},
 'emp002': {'age': 24, 'dept': 'humanity', 'name': 'Rahi', 'salary': 260000},
 'emp003': {'age': 14, 'dept': 'finance', 'name': 'Rhi', 'salary': 2600}}

In [19]:
print(company["emp002"]["dept"])

humanity

In [20]:
print(temp['lko'][1])

24

In [21]:
sum = 0
for i in range(3):
    sum += temp['lko'][i]
avg = sum / 3
print(avg)

33.0

In [25]:
print(sum(temp['lko']) / len(temp['lko']))

TypeError: 'int' object is not callable